<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/add">add a car</a><br />
<table>
    <tr>
        <th>manufacturer</th>
        <th>model</th>
        <th>year</th>
        <th>msrp</th>
        <th>category</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.manufacturer}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.MSRP}"></td>
        <td th:text="${car.category}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${car.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${car.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${car.id})}">Delete</a>

        </td>
    </tr>
</table>
</body>
</html>